.posts__container {
  width: 70%;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.post {
  display: flex;
  flex-direction: column;

  width: 95%;

  margin: 10px 0 0 20px;
  padding: 5px;

  border: 1px groove var(--super-dark-blue);
  border-radius: 5px;
}

.post__header {
  display: flex;
  justify-content: space-between;

  margin: -5px -5px 0;
  padding: 5px;

  background-color: var(--super-dark-blue);
  color: var(--light-blue);
}

.post-menu {
  margin-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.post-menu-icon__btn {
  width: 25px;
  height: 25px;
}

.post-menu-icon__btn:hover {
  color: var(--middle-blue);
}

.post-menu-icon {
  width: 18px
};
