.users__container {
  width: 30%;
  padding: 10px;

  border-right: 1px groove var(--dark-blue);

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.user {
  display: block;

  width: 100%;

  margin: 2px auto;
  padding: 10px;

  background-color: var(--middle-blue);

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
}

.current-user {
  background-color: var(--super-dark-blue);
  color: var(--light-blue);
  font-weight: bold;
}
