@import './reset.css';

:root {
  --super-dark-blue: #3B5998;
  --dark-blue: #808CBA;
  --middle-blue: #9FA8CB;
  --light-blue: #DFE1EE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--middle-blue);
  color: var(--super-dark-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 20px 10px;
  color: var(--super-dark-blue);
}

.card {
  display: flex;

  width: 80vw;
  height: 80vh;

  margin: 10px;

  background-color: var(--light-blue);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--dark-blue);
}

.users__container{
  width: 30%;
  padding: 10px;

  border-right: 1px groove var(--dark-blue);

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.users__container::-webkit-scrollbar,
.posts__container::-webkit-scrollbar{
  width: 10px;
}

.users__container::-webkit-scrollbar-track,
.posts__container::-webkit-scrollbar-track {
  margin: 10px 0;
  border-radius: 10px;
}

.users__container::-webkit-scrollbar-thumb,
.posts__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, var(--middle-blue), var(--super-dark-blue));
}

.posts__container{
  width: 70%;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.user {
  display: block;

  width: 100%;

  margin: 2px auto;
  padding: 10px;

  background-color: var(--middle-blue);

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
}

.current-user {
  background-color: var(--super-dark-blue);
  color: var(--light-blue);
  font-weight: bold;
}

.post {
  display: flex;
  flex-direction: column;

  width: 95%;

  margin: 10px;
  padding: 5px;
  
  border: 1px groove var(--super-dark-blue);
  border-radius: 5px;
}

.post__header {
  display: flex;
  justify-content: space-between;

  margin: -5px -5px 0;
  padding: 5px;

  background-color: var(--super-dark-blue);
  color: var(--light-blue);
}

.post-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.post-icon {
  margin: 0 5px;
}

.post-icon:hover {
  color: var(--middle-blue)
}