@import 'bootstrap';
@import './reset.css';

:root {
  --super-dark-blue: #3b5998;
  --dark-blue: #808cba;
  --middle-blue: #9fa8cb;
  --light-blue: #dfe1ee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--middle-blue);
  color: var(--super-dark-blue);
  font-size: 16px;
  line-height: 1.3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 20px 10px;

  text-transform: uppercase;
  font-weight: bold;
  color: var(--super-dark-blue);
}

.card__headers {
  display: flex;

  height: 60px;

  background-color: var(--super-dark-blue);
  color: var(--light-blue);

  border-radius: 10px 10px 0 0;
}

.users__header {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 30%;
}

.posts__header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
}

.app-card {
  background-color: var(--light-blue);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--dark-blue);
}

.card-containers {
  display: flex;

  width: 80vw;
  height: 70vh;

  margin: 10px;
}

.users__container::-webkit-scrollbar,
.posts__container::-webkit-scrollbar {
  width: 10px;
}

.users__container::-webkit-scrollbar-track,
.posts__container::-webkit-scrollbar-track {
  margin: 10px 0;
  border-radius: 10px;
}

.users__container::-webkit-scrollbar-thumb,
.posts__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    var(--middle-blue),
    var(--super-dark-blue)
  );
}

/* Users */

.users__container {
  width: 30%;
  padding: 10px;

  border-right: 1px groove var(--dark-blue);

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 2px auto;
  padding: 10px;

  background-color: var(--middle-blue);
}

.current-user {
  background-color: var(--super-dark-blue);
  color: var(--light-blue);
  font-weight: bold;
}

/* Posts */

.posts__container {
  width: 70%;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.post {
  display: flex;
  flex-direction: column;

  width: 95%;

  margin: 10px 0 0 20px;

  border: 1px groove var(--super-dark-blue);
  border-radius: 5px;
}

.user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;


  background-color: var(--super-dark-blue);
  color: var(--light-blue);
}

.user-info__list {
  display: block;

  white-space: nowrap;
  overflow-x: hidden;
}

.user-info__list-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.website {
  color: var(--middle-blue);
  font-weight: bold;
}

.add-post__btn {
  background-color: var(--light-blue);
  color: var(--super-dark-blue);

  width: 40px;
  height: 40px;

  border-radius: 5px;
}

.add-post__btn-text {
  font-size: 11px;
  line-height: 1em;
}

.post__header {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.post__text {
  padding: 5px;
}

.post-menu {
  margin-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.post-menu-icon__btn {
  width: 25px;
  height: 25px;
}

.post-menu-icon__btn:hover {
  color: var(--middle-blue);
}

.post-menu-icon {
  width: 18px;
}
